# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Nauka\Programowanie\Java\ProgrammingExercises\51RemodifyingArraySavingReadingToFile\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
